/*

!/.Brewfile
!/.ctags

!bin/
!bin/*

!/sandbox-profiles/

!/requirements.in
!/requirements.txt

!/.emacs.d
.emacs.d/*
!/.emacs.d/init.el
!/.emacs.d/packages.el
!/.emacs.d/evil.el
!/.emacs.d/ui.el

!/.vimrc
!/.vim
.vim/*
!/.vim/settings.vim
!/.vim/swift.vim
!/.vim/fastlane.vim
!/.vim/autocmds.vim
!/.vim/mappings.vim
!/.vim/plugins.vim
!/.vim/fzf.vim
!/.vim/easy-motion.vim
!/.vim/tagbar.vim
!/.vim/neomake.vim

!.config/
.config/*

!.config/nvim
.config/nvim/*
!.config/nvim/init.vim

!.config/fish
.config/fish/*
!.config/fish/fishfile
!.config/fish/config.fish
!.config/fish/functions/fisher.fish

!.gitignore
!.gitconfig
!.githelpers
!.git_template/
!.git_template/hooks/
!.git_template/hooks/*

