/*

!/.archive
!/.archive/*

!/tasks.py
!/pyproject.toml

!bin/
!bin/*

# Emacs

!/.spacemacs.d

## Track nothing else

.spacemacs.d/*

## But these:

!/.spacemacs.d/snippets/
!/.spacemacs.d/init.el
!/.spacemacs.d/configuration.org
!/.spacemacs.d/configuration.emacs.org

# Vim

!/.vimrc
!/.vim
.vim/*
!/.vim/settings.vim
!/.vim/swift.vim
!/.vim/fastlane.vim
!/.vim/autocmds.vim
!/.vim/mappings.vim
!/.vim/plugins.vim
!/.vim/fzf.vim
!/.vim/easy-motion.vim
!/.vim/tagbar.vim
!/.vim/neomake.vim

# Config

!.config/
.config/*

!.config/nvim
.config/nvim/*
!.config/nvim/init.vim

!.config/fish
.config/fish/*
!.config/fish/fishfile
!.config/fish/config.fish
!.config/fish/functions/fisher.fish

!.gitignore
!.gitconfig

